.popup__button{
    font-family: Inter, Arial, sans-serif;
    height: 50px;
    padding: 0;
    margin: 0 0 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s;
}

.popup__button:hover{
    opacity: 0.8;
}

.popup__button:disabled {
    background-color: #fff;
    color: #000;
    opacity: 0.2;
    border: 1px solid #000;
}

.popup__button:disabled:hover{
    opacity: 0.2;
}


@media screen and (max-width: 360px){
    .popup__button{
        font-size: 14px;
        height: 46px;
        margin-top: 13px;
    }
}